html {
	text-align: center;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

section {
	text-align: left;
	margin: auto;
}

ul {
	margin: auto;
	list-style-position: outside;
}

li {
	transform: translateX(-15px);
}

#team_info {
	padding-top: 2vh;
	padding-bottom: 2vh;
}